<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013931763401-1cqb0uoo3g8funn8d8p2jdoh4aap9j5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013931763401-1cqb0uoo3g8funn8d8p2jdoh4aap9j5h</string>
	<key>API_KEY</key>
	<string>AIzaSyA-gGGWGls1M4WTwb8KAgjVH5H4k810JF0</string>
	<key>GCM_SENDER_ID</key>
	<string>1013931763401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leopard.lockheed</string>
	<key>PROJECT_ID</key>
	<string>sixth-episode-270308</string>
	<key>STORAGE_BUCKET</key>
	<string>sixth-episode-270308.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013931763401:ios:37a2654378657d9192cf18</string>
	<key>DATABASE_URL</key>
	<string>https://sixth-episode-270308.firebaseio.com</string>
</dict>
</plist>